/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Jul 2023, 10:16:20 PM
    Author     : nebia
*/

header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #f8f8f8;
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.about-section h2,
.team-section h2 {
  text-align: center;
}

.team-section ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 20px;
}

.team-section li {
  flex-basis: 300px;
  text-align: center;
  margin: 20px;
}

.team-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.team-section h3 {
  margin: 10px 0;
}

footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #777;
}


