/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Jul 2023, 10:19:57 PM
    Author     : nebia
*/

.slider-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

