/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Jul 2023, 10:20:22 PM
    Author     : nebia
*/

header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

.navbar {
  background-color: #f8f8f8;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

main {
  padding: 20px;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.user-details {
  flex-basis: 60%;
}

.user-details h2 {
  margin-top: 0;
}

.user-projects {
  flex-basis: 30%;
}

.user-projects h3 {
  margin-top: 0;
}

footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #777;
}
